@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 11%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 11%;
    --primary: 0 0% 9%;
    --primary-foreground: 60 9% 97%;
    --secondary: 60 4% 96%;
    --secondary-foreground: 24 5% 19%;
    --muted: 60 4% 96%;
    --muted-foreground: 25 5% 45%;
    --accent: 60 4% 96%;
    --accent-foreground: 24 5% 19%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 97%;
    --border: 20 5% 90%;
    --input: 20 5% 90%;
    --ring: 20 14% 11%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}
